#upper_name{
    color: #FEFCFB;
    
}
b{
    font-family: Noto Sans;
}
/* .upper-banner{
 
  
    background: #0A1128;

} */

.open-text{
    font-size: 8rem;
 
}


/* .my-image{
    width: 50px;
} */

/* #main-btn:hover::before{
content: "Contact me";
font-weight: bolder;

}



#main-btn:hover span{
    display: none;
}

#main-btn:hover h1{
    display: none;
} */

